# front-end stuff
.sass-cache
css/

*.pyc
*~

build/
newenv/
app/static/stylesheets/*.css
app/static/scripts/*.js
app/static/scripts/views/*.js
app/static/scripts/models/*.js

config.coffee

.DS_Store
