.sass-cache

*.pyc
*~

build/
newenv/
app/static/javascripts/*.js
app/static/javascripts/views/*.js
app/static/javascripts/models/*.js
app/static/css/foundation/
app/static/css/*.css

config.coffee

.DS_Store
