<div class="view-event">
  <div class="row">
    <div class="large-12 columns">
      <div class="card">
        <div class="large-3 columns image">
          <img src="http://placehold.it/240x240&amp;text=img">
        </div>
        <div class="large-9 columns info">
          <h3 class="title"><a href="#">Semi-Annual Pastrami Feast</a></h3>
          <span class="subtitle">by <a href="#">M.E.A.T. Club</a></span>

          <div class="detail-row">
            <div class="large-6 columns item">
              <span class="icon icon-calendar"></span>Tuesday, January 29
            </div>
            <div class="large-6 columns item">
              <span class="icon icon-clock"></span>8:00 - 9:00pm  
            </div>
            <div class="large-12 columns item">
              <span class="icon icon-location"></span><a href="http://maps.google.com/?q=Kings Court English House"  target="_blank">Kings Court English House</a>
            </div>
          </div>

          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        </div>
      </div>
    </div>
  </div>
</div>
