<div class="view-user">
  <!-- Profile -->
  <div class="profile row">
    <div class="large-9 columns info">
      <h2 class="title"><%= name %></h2>
      <span class="subtitle"><%= email %></span>
      <hr/>
      <p><%= description %></p>
    </div>
    <div class="large-3 columns actions">
      <% if (_.contains(window.router.user.get('following'), _id)) { %>
      <a class="unsubscribe item" href="#">
        <span class="icon icon-mail-2"></span>Unsubscribe
      </a>
      <% } else { %>
      <a class="subscribe item" href="#">
        <span class="icon icon-mail-2"></span>Subscribe
      </a>
      <% } %>
      <a class="item" href="#">
        <span class="icon icon-facebook-2"></span>Facebook Page
      </a>
      <a class="item" href="#">
        <span class="icon icon-calendar-2"></span>Google Calendar
      </a>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns' id='events'></div>
  </div>
</div>
