<div class="view-user">

    
  <!-- Profile -->
  
  <div class="profile row">
    <div class="large-9 columns info">
      <h2 class="title">M.E.A.T. Club</h2>
      <span class="subtitle">Men Eating Animals Together</span>
      <hr/>
      <p>Bacon ipsum dolor sit amet chicken sirloin drumstick shankle fatback meatball cow jowl tongue rump flank doner. Frankfurter ground round chicken, shoulder fatback pork belly jowl pig bacon. Chuck swine short loin kielbasa tri-tip tail pastrami hamburger, ham chicken corned beef boudin capicola. Pastrami doner sirloin, salami kielbasa tri-tip drumstick pancetta.</p>        
    </div>
    <div class="large-3 columns actions">
      <a class="item" href="#">
        <span class="icon icon-mail-2"></span>Subscribe
      </a>
      <a class="item" href="#">
        <span class="icon icon-facebook-2"></span>Facebook Page
      </a>
      <a class="item" href="#">
        <span class="icon icon-calendar-2"></span>Google Calendar
      </a>
    </div>
  </div>
  
  <!-- Main Feed -->
  
  <div class="row">
  <div class="large-12 columns feed">
    
    <div class="row">
      <div class="large-12 columns date">
        <h3>Tuesday, January 29, 2013</h3>
      </div>
    </div>
    
    <div class="row"><div class="large-12 columns"><div class="card">
      <div class="large-3 columns image">
        <img src="http://placehold.it/240x240&amp;text=img">
      </div>
      <div class="large-9 columns info">
        <h3 class="title"><a href="#">Semi-Annual Pastrami Feast</a></h3>
        <span class="subtitle">by <a href="#">M.E.A.T. Club</a></span>
        
        <div class="detail-row">
          <div class="large-6 columns item">
            <span class="icon icon-calendar"></span>Tuesday, January 29
          </div>
          <div class="large-6 columns item">
            <span class="icon icon-clock"></span>8:00 - 9:00pm  
          </div>
          <div class="large-12 columns item">
            <span class="icon icon-location"></span><a href="http://maps.google.com/?q=Kings Court English House"  target="_blank">Kings Court English House</a>
          </div>
        </div>
          
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
      </div>
    </div></div></div>
    
    <div class="row">
      <div class="large-12 columns date">
        <h3>Tuesday, January 29, 2013</h3>
      </div>
    </div>
    
    <div class="row"><div class="large-12 columns"><div class="card">
      <div class="large-3 columns image">
        <img src="http://placehold.it/240x240&amp;text=img">
      </div>
      <div class="large-9 columns info">
        <h3 class="title"><a href="#">Semi-Annual Pastrami Feast</a></h3>
        <span class="subtitle">by <a href="#">M.E.A.T. Club</a></span>
        
        <div class="detail-row">
          <div class="large-6 columns item">
            <span class="icon icon-calendar"></span>Tuesday, January 29
          </div>
          <div class="large-6 columns item">
            <span class="icon icon-clock"></span>8:00 - 9:00pm  
          </div>
          <div class="large-12 columns item">
            <span class="icon icon-location"></span><a href="http://maps.google.com/?q=Kings Court English House"  target="_blank">Kings Court English House</a>
          </div>
        </div>
          
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
      </div>
    </div></div></div>
    
  </div>
  </div>
  
</div>

</div>