<div class="view-create">
  
  <div class="row">
    <div class="large-4 columns">
      <div class="large-12 prompt">
        <p>already have an account?</p>
      </div>
      <form class="rightbox" method="post" action="users/login">
        <h3>Keep in Mind</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </form>
    </div>
    
    <div class="large-8 columns">
      <div class="large-12 prompt">
        <p>need a new account?</p>
      </div>
      <form class="leftbox" method="post" action="users/">
        <h3>New Event</h3>
        <label>Name</label>
        <input name="name" type="text" placeholder="Event Name" />
        <label>When?</label>
        <div class="row">
          <div class="large-6 columns">
            <input name="date" type="text" placeholder="Date" />
          </div>
          <div class="large-3 columns">
            <input name="time_start" type="text" placeholder="Start" />
          </div>
          <div class="large-3 columns">
            <input name="time_end" type="text" placeholder="End" />
          </div>
        </div>
        <label>Location</label>
        <input name="location" type="text" placeholder="Location" />
        <label>Description</label>
        <textarea name="description" placeholder=""></textarea>
        
        <input class="button" type="submit" id="submit-button" value="Submit">
      </form>
    </div>
  </div>

</div>
