<div class="view-login">
  
  <div class="row">
    <div class="four columns">
      <div class="twelve prompt">
        <p>already have an account?</p>
      </div>
      <form id="login-form" class="twelve login" method="post" action="users/login">
        <h3>Login</h3>
        <input name="email" type="text" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <input class="button" type="submit" id="login-button" value="Login">
      </form>
    </div>
    
    <div class="eight columns">
      <div class="twelve prompt">
        <p>need a new account?</p>
      </div>
      <form id="register-form" class="twelve signup" method="post" action="users/create">
        <h3>Sign Up</h3>
        <label>Name</label>
	<div class="row">
           <div class="six columns">
            <input name="first-name" type="text" placeholder="First Name" />
           </div>
            <div class="six columns">
            <input name="last-name" type="text" placeholder="Last Name" />
           </div> 
        </div>
	<label>UPenn Email</label>
        <input name="email" type="text" placeholder="" />
        <label>Password</label>
        <div class="row">
          <div class="six columns">
            <input name="password" type="password" placeholder="Enter Password" />
          </div>
          <div class="six columns">
            <input name="confirm" type="password" placeholder="Confirm Password" />
          </div>
        </div>
        <label>Description</label>
        <textarea name="description" placeholder=""></textarea>
        
        <input class="button" type="submit" id="register-button" value="Register">
      </form>
    </div>
  </div>

</div>
