<div class="view-login">
  
  <div class="row">
    <div class="four columns">
      <div class="twelve prompt">
        <p>already have an account?</p>
      </div>
      <form class="twelve login">
        <h3>Login</h3>
        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Password" />
        <input class="button" type="submit" id="login-button" value="Login">
      </form>
    </div>
    
    <div class="eight columns">
      <div class="twelve prompt">
        <p>need a new account?</p>
      </div>
      <form class="twelve signup">
        <h3>Sign Up</h3>
        <label>Name</label>
        <input type="text" placeholder="" />
        <label>UPenn Email</label>
        <input type="text" placeholder="" />
        <label>Password</label>
        <div class="row">
          <div class="six columns">
            <input type="password" placeholder="Enter Password" />
          </div>
          <div class="six columns">
            <input type="password" placeholder="Confirm Password" />
          </div>
        </div>
        <label>Description</label>
        <textarea placeholder=""></textarea>
        
        <input class="button" type="submit" id="register-button" value="Register">
      </form>
    </div>
  </div>

</div>
