<div class="view-login">
  
  <div class="row">
    <div class="large-4 columns">
      <div class="large-12 prompt">
        <p>already have an account?</p>
      </div>
      <form id="login-form" class="login" method="post" action="users/login">
        <h3>Login</h3>
        <input name="email" type="text" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <input class="button" type="submit" id="login-button" value="Login">
      </form>
    </div>
    
    <div class="large-8 columns">
      <div class="large-12 prompt">
        <p>need a new account?</p>
      </div>
      <form id="register-form" class="signup" method="post" action="users/">
        <h3>Sign Up</h3>
        <label>Name</label>
        <input name="name" type="text" placeholder="" />
        <label>UPenn Email</label>
        <input name="email" type="text" placeholder="" />
        <label>Password</label>
        <div class="row">
          <div class="large-6 columns">
            <input name="password" type="password" placeholder="Enter Password" />
          </div>
          <div class="large-6 columns">
            <input name="confirm" type="password" placeholder="Confirm Password" />
          </div>
        </div>
        <label>Description</label>
        <textarea name="description" placeholder=""></textarea>
        
        <input class="button" type="submit" id="register-button" value="Register">
      </form>
    </div>
  </div>

</div>
