$titleFont: "News Cycle", sans-serif;
$textFont: "Merriweather", serif;

$primary: #b54536;
$secondary: #8596ab;
$third: #d4d9db;
$lightGray: #f0f2f2;

$solidBorder: 1px solid;
$dottedBorder: 1px dotted;