$titleFont: "Merriweather", serif;
$textFont: "News Cycle", sans-serif;
$navFont: "Lato", sans-serif;

$primary-color: #b54536;
$secondary-color: #8596ab;
$tertiary-color: #d4d9db;
$lightGray: #f0f2f2;

$solidBorder: 1px solid;
$dottedBorder: 1px dotted;

$body-bg: $lightGray;
$body-font-color: #000;
$body-font-family: $textFont;