@import "variables";
@import "foundation/settings";
@import "foundation/normalize";
@import "foundation/foundation";

body, div, dl, dt, dd, ul, ol, li,
pre, form, p, blockquote, th, td, label,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-family: $textFont;
}

ol {
  list-style-position: inside;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
}

.label {
  display: inline-block;
  padding: 2px 4px 2px 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.top-bar {
  h1 {
    font-family: $navFont;
  }
  
  .top-bar-section .dropdown li.title h5 {
    font-family: $navFont;
    font-size: 14px;
  }
  
  .icon {
    margin-right: 5px;
  }
}

#footer {
  font-size: 0.875em;
  color: white;
  background-color: $primary-color;
  text-align: center;
  
  margin-top: 30px;
  padding-top: 15px;
  min-height: 150px;
  
  #footer-nav {
    
    a, a:hover {
      color: white;
    }
    
    ul {
      margin: 0px;
      
      li {
        font-weight: bold;
        display: inline;
        margin-right: 10px;
      }
      
      li:before {
        content: "⋅";
        color: darken($primary-color, 20%);
        margin-right: 10px;
      }
      li:first-child:before {
        content: "";
      }
    }
  }
}