<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/vendor/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/vendor/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/vendor/foundation.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/vendor/icomoon.css') }}">
    <script src="{{ url_for('static', filename='scripts/vendor/modernizr.foundation.js') }}"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->


    <!-- Navigation Bar -->

    <div class="contain-to-grid">
      <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="#">events@penn</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section>
      <ul class="left">
      </ul>

      <ul class="right">
        <li><a href="#">Home</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      </section>
      </nav>
    </div>

    <div class="row">
      <!-- Sidebar Filters -->
      <div class="three columns mobile-four"><div class="twelve columns sidebar">
          <form>
            <h5>Groups</h5>
            <input type="text" placeholder="Groups" />
            <div>
              <span class="radius label">upenn</span>
              <span class="radius label">spec</span>
              <span class="radius label">philo</span>
              <span class="radius label">dp</span>
              <span class="radius label">starred</span>
            </div>
            <hr/>
            <h5>Type</h5>
            <label for="checkbox1"><input type="checkbox" id="checkbox1">Lecture</label>
            <label for="checkbox2"><input type="checkbox" id="checkbox2">Recitation</label>
            <label for="checkbox3"><input type="checkbox" id="checkbox3">Studio</label>
            <hr/>
            <h5>Tags</h5>
            <label for="checkbox1"><input type="checkbox" id="checkbox1">Recommended</label>
            <label for="checkbox2"><input type="checkbox" id="checkbox2">18 & Above</label>
            <label for="checkbox3"><input type="checkbox" id="checkbox3">University</label>
          </form>
      </div></div>

      <!-- Main Feed -->

      <div class="nine columns cal" style="display:none;">
        <iframe src="gcal.html"></iframe>
      </div>

      <div class="nine columns feed">

        <div class="row">
          <div class="twelve columns date">
            <h4>Tuesday, January 29, 2013</h4>
          </div>
        </div>

        <div class="row"><div class="twelve columns"><div class="card">
              <div class="three columns mobile-four image">
                <img src="http://placehold.it/240x240&amp;text=img">
              </div>
              <div class="nine columns info">
                <h4 class="title"><a href="#">Semi-Annual Pastrami Feast</a></h4>
                <span class="subtitle">by <a href="#">M.E.A.T. Club</a></span>

                <div class="detail-row">
                  <div class="six columns item">
                    <span class="icon icon-calendar"></span>Tuesday, January 29
                  </div>
                  <div class="six columns item">
                    <span class="icon icon-clock"></span>8:00 - 9:00pm	
                  </div>
                  <div class="twelve columns item">
                    <span class="icon icon-location"></span><a href="http://maps.google.com/?q=Kings Court English House"  target="_blank">Kings Court English House</a>
                  </div>
                </div>

                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
              </div>
        </div></div></div>

        <div class="row">
          <div class="twelve columns date">
            <h4>Wednesday, January 30, 2013</h4>
          </div>
        </div>

        <div class="row"><div class="twelve columns"><div class="card">
              <div class="three columns mobile-four image">
                <img src="http://placehold.it/240x240&amp;text=img">
              </div>
              <div class="nine columns info">
                <h4 class="title"><a href="#">CG Shorts Screening</a></h4>
                <span class="subtitle">by <a href="#">UPenn SIGGRAPH</a></span>

                <div class="detail-row">
                  <div class="six columns item">
                    <span class="icon icon-calendar"></span>Wednesday, January 30
                  </div>
                  <div class="six columns item">
                    <span class="icon icon-clock"></span>8:00 - 9:00pm	
                  </div>
                  <div class="twelve columns item">
                    <span class="icon icon-location"></span><a href="http://maps.google.com/?q=Wu & Chen Auditorium" target="_blank">Wu & Chen Auditorium</a>
                  </div>
                </div>

                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
              </div>
        </div></div></div>

      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/foundation.min.js') }}"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
